.container {
    background-image: url(../images/bg-desktop.svg);
    background-position: left;
}

.container__header figure {
    width: 160px;
    height: 80px;
}

.container__main {
    display: flex;
}

.container__main--image span {
    height: 420px;
    background-size: contain;
}

.container__main--info {
    justify-self: center;
    align-self: center;
    text-align: start;
}

.container__main--info button {
    height: 45px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.9rem;
}

.container__footer ul {
    margin-top: 20px;
    max-width: 200px;
}

/* ---------- FONTS ---------- */ 
.container__main--info h1 {
    font-size: 3.4rem;
}

.container__main--info p {
    font-size: 1.8rem;
}

.made-by {
    font-size: 1.5rem;
}